.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0 50px 0;
}

.img {
    width: 50%;
}

.title {
    font-size: 30px
}

.span {
    font-size: 20px
}

.p {
    width: 50%;
    font-size: 20px;
}

i {
    color: black;
    font-size: 30px;
    margin-top: 50px;
}

.statistic {
    font-size: 30px;
    margin: 0px 20px;
}

.button {
    text-decoration: none;
    font-size: 20px;
    background-color: yellow;
    color: #fff;
    padding: 3px 25px;
    margin: 50px 20px 30px 20px;
    border: unset;
    cursor: pointer;
}

.delete {
    background-color: red;
}

button {
    background-color: red !important;
}