@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&display=swap');
.listItemStyle {
    height: 300px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.img {
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-family: 'Nunito', sans-serif;
    width: 300px;
    text-align: center;
    font-size: 20px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;
    background-color: #f8f8f8f6;
}

.topListItem {
    height: 580px;
    margin: 30px 20px 0 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.topImg {
    width: 1000px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topText {
    width: 600px;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}